*.com
*.lst
*.obj
*.map
*.BAK
*.pyc

.venv/
prepimage/test.png

dosbox/

# Ignore all disk images and folders here, but keep the scripts and exes
tools/floppyimages/*
!tools/floppyimages/*.sh
!tools/floppyimages/*.exe