*.com
*.lst
*.obj
*.map
*.BAK
*.pyc

.venv/
prepimage/test.png

# Ignore all disk images and folders here, but keep the scripts and exes
tools/floppyimages/*
!tools/floppyimages/*.ps1
!tools/floppyimages/*.exe